.sentecoma {
	text-align: center;
	cursor: pointer;
}
.sentecoma:hover {
/*
	background-color: #dddddd;
	*/
}

.gotecoma {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	text-align: center;
	cursor: pointer;
}
.gotecoma:hover {
/*
	background-color: #dddddd;
	*/
}

